<!DOCTYPE html>
<html lang="fr">

<%-  include header %>

<body>
     
        <div id="menuAccueil">
                <h2><a href="http://localhost:8081/formulaire">Ajouter</a></h2>
                <h2><a href="http://localhost:8081/Accueil">Accueil</a></h2>
                <h2><a href="http://localhost:8081">Adresse</a></h2>
            </div>
    
        <form id="formulaire" action="/ajouter" method="POST">
            
            <input id="prenom" type="text" placeholder="prenom" name="prenom" required="">
            <input id="nom" type="text" placeholder="nom" name="nom" required="">
            <input id="telephone" type="text" placeholder="telephone" name="telephone" required="">
            <input id="email" type="text" placeholder="email" name="email" required=""><br> 
            <button id="submit" type="submit">Envoyer</button>
            
        </form>
     </body>


</html>