<head>
 <meta charset="UTF-8">
 <title>Mon Application - Jeremie Lalancette</title>
 <link rel="stylesheet" type="text/css" href="/css/reset.css">
 <link rel="stylesheet" type="text/css" href="/css/style.css">
 

 <!-- <script src="./modifierMembres.js"></script> -->
</head>