<!DOCTYPE html>
<html lang="fr">
		<%-  include header %>
	<body>
		<div>
			<% for ( p in adresses) { %>
			<h2><%= adresses[p] %></h2>

			<% }%>
		</div>
	</body>
    <%-  include footer %>
</html>