@couleurFond : rgb(74, 80, 76);

body {
	background-color: @couleurFond;
	color: white;
}

h1 {
	font-family: Arial;
	font-weight: 600;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-family: Arial;
	font-weight: 600;
	font-size: 1em;
	text-align: center;
}

#menuAccueil {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}

#menuAccueil a {
	text-decoration: none;
	border: 2px solid white;
	color: white;
	font-family: arial;
	font-weight: 400;
	font-size: 1.5em;
	padding: 7%;
}
